{% extends 'main.html' %}
{% load static %}

{% block title %}Homepage{% endblock title %}

{% block body %} 
<center>
	<!-- <img src="{% static '/images/background.jpg' %}" alt="My image"> -->
<div>
  <a href="{% url 'startAttendance' %}" target="_parent">
    <button type="button" class="btn btn-info" href="{% url 'startAttendance' %}">START ATTENDANCE</button>
  </a>
  <a href="{% url 'registerTeacher' %}" target="_parent">
  <button type="button" class="btn btn-info" href="{% url 'registerTeacher' %}">REGISTER TEACHER</button>
  </a>
  <a href="{% url 'registerStudent' %}" target="_parent">
  <button type="button" class="btn btn-info">REGISTER STUDENT</button>
  </a>
  
</div>
</center>

{% endblock body %} 