{% extends 'main.html' %}

{% block title %}REGISTER TEACHER{% endblock title %}

{% block body %}
<form action="{% url 'registerTeacher' %}" method="POST">
{% csrf_token %}
<div class="pb-5 col d-flex justify-content-center align-items-center ">
  <div class = "table-responsive container col-6 col-md-6 col-sm-8">

  <table id = "table" class="table table-borderless table-dark table-striped"  align="center"  cellspacing="5" cellpadding="5">
    <h1 class = "form-heading">Teacher Registration</h1>
    <tr>
        <th>
          <label class = "input-label-form " for="ID">Teacher ID</label>
        </th>
        <td>
          <input type ="text" name="t_id" size="10" maxlength="5" autocomplete="on"
                class="input_form form-control" placeholder="Teacher ID" required="required" tabindex="1" />
        </td>
      </tr>
      <tr>    
        <th>
            <label class = "input-label-form" for="Name">First Name</label>
        </th>
        <td>
            <input type ="text" name="t_first_name" size="20" maxlength="30" autocomplete="on"
                  class="input_form form-control" placeholder="Teacher NAME" required="required" tabindex="2" />
        </td>
      </tr>
      <tr>    
        <th>
            <label class = "input-label-form" for="Name">Last Name</label>
        </th>
        <td>
            <input type ="text" name="t_last_name" size="20" maxlength="30" autocomplete="on"
                  class="input_form form-control" placeholder="Teacher NAME" required="required" tabindex="3" />
        </td>
      </tr>
      <tr>
          <th>
            <label class = "input-label-form " for="dept">Department</label> 
          </th>
          <td>
              <select class="input_form form-control">
                <option value="#">Select Department</option>
                  <option value="Computer Science">Computer Science</option>
                  <option value="Statistics">Statistics</option>
                  <option value="Mathematics">Mathematics</option>
              </select>
          </td>
        </tr>
        <tr>
            <div class="dropdown show">
              <th>
                <label for="scode"><b><font color="white">Subject Code</font><b></label> 
              </th>
              <th>    
                <input type="text" name="t_subjectcode">
              </th>
            </div>
          </tr>
          <tr>
              <th>
                <label class = "input-label-form" for="Password">Password</label>
              </th>
              <td>
                <input type="password" required="required" name="t_pswd" size="20" minlength="6" tabindex="5" placeholder = "Password: Min 6 Characters"
                    class="input_form form-control">
              </td>
          </tr>
              <tr>
            <td align="center" colspan="2">
                <div class="col-8">
                  <input type="submit" class="btn btn-primary btn-block btn_register" value="Submit">
              </div>
          </td>
          </tr>
            </table>
          </div>
          </div>
        </div>
      </div>
</form>
 {% endblock body %}  
